@model ConsoleAppStart.model.Employee


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Информация о работнике</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <span>ФИО </span>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIO)
            </dd>
    
            <dt>
                <span>Адрес </span>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adres)
            </dd>
    
            <dt>
                <span>Номер телефона </span>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>
    
            @*<dt>
                <span>Номер заказа </span>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumberOrder)
            </dd>*@
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index")
    </p>
</body>
</html>
