@model ConsoleAppStart.model.Order

@{
    ViewBag.Title = "Details";
}

<h2>Информация о заказе</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            Номер заказа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOrder)
        </dd>

        <dt>
           Наименование услуги
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOrder)
        </dd>

        <dt>
            Дата заказа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrder)
        </dd>

        <dt>
           ФИО работника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FIO)
        </dd>

        <dt>
            ФИО клеинта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FIO)
        </dd>

        <dt>
            Цена
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Srok)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
